<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="150">
      <LayoutAnchorablePane Name="ToolboxPane" DockWidth="150" DockHeight="2*">
        <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Toolbox" IsSelected="True" ContentId="Toolbox" CanShowOnHover="False" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
    <LayoutPanel Orientation="Vertical" DockWidth="18.1470214477314*">
      <LayoutDocumentPane />
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="200">
        <LayoutAnchorablePane Name="OutputPane" DockHeight="200">
          <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Overview" IsSelected="True" ContentId="Overview" LastActivationTimeStamp="06/24/2026 12:37:55" CanShowOnHover="False" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="342.333333333333">
      <LayoutAnchorablePane Name="ExplorerPane" DockWidth="754.333333333333" DockHeight="2.70783676417479*">
        <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Screen hierarchy" IsSelected="True" ContentId="Screen hierarchy" LastActivationTimeStamp="06/24/2026 12:37:19" CanShowOnHover="False" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane Name="ItemPreviewPane" DockHeight="0.292163235825208*">
        <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Selected item preview" IsSelected="True" ContentId="Selected item preview" LastActivationTimeStamp="06/24/2026 00:22:54" CanShowOnHover="False" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane Name="PropertiesPane" DockHeight="2*">
        <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Properties" IsSelected="True" ContentId="Properties" LastActivationTimeStamp="06/24/2026 00:29:28" CanShowOnHover="False" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide>
    <LayoutAnchorGroup>
      <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Screen properties" IsSelected="True" ContentId="Screen properties" LastActivationTimeStamp="06/24/2026 00:25:45" CanShowOnHover="False" />
    </LayoutAnchorGroup>
    <LayoutAnchorGroup>
      <LayoutAnchorable AutoHideWidth="530.666666666667" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dashboard variables" IsSelected="True" ContentId="Dashboard variables" LastActivationTimeStamp="06/24/2026 00:25:18" CanShowOnHover="False" />
    </LayoutAnchorGroup>
    <LayoutAnchorGroup>
      <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Output" IsSelected="True" ContentId="Output" LastActivationTimeStamp="06/24/2026 00:25:43" CanShowOnHover="False" />
    </LayoutAnchorGroup>
    <LayoutAnchorGroup>
      <LayoutAnchorable AutoHideWidth="256" AutoHideHeight="128" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dashboard images" IsSelected="True" ContentId="Dashboard images" LastActivationTimeStamp="06/24/2026 00:25:44" CanShowOnHover="False" />
    </LayoutAnchorGroup>
  </RightSide>
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>